@font-face {
	font-family: domine;
	src: url(domine-regular.woff);
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

:root {
	--text: #111;
	--white: #fff;
	--primary: #3A4D39;
	--se_primary: #739072;
	--theme: #ECE3CE;
}

.content {
	max-width: 500px;
	margin: auto;
}

/* CSS */
.button {
	background-color: var(--white);
	border: 2px solid var(--primary);
	border-radius: 8px;
	box-sizing: border-box;
	color: var(--text);
	cursor: pointer;
	display: inline-block;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	margin: 0;
	outline: none;
	padding: 13px 23px;
	position: relative;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
	transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
	user-select: none;
	-webkit-user-select: none;
	width: auto;
}

.button:focus-visible {
	box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
	transition: box-shadow .2s;
}

.button:active {
	background-color: var(--se_primary);
	border-color: var(--theme);
	color: var(--theme);
	transform: scale(.96);
}

.button:disabled {
	border-color: var(--theme);
	color: #DDDDDD;
	cursor: not-allowed;
	opacity: 1;
}