.btnContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: dashed var(--theme) 3px;
    margin-bottom: 20px;
    border-radius: 15%;
}

.documentName{
    font-size: 35px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-left: 5px double var(--secondary);
    border-bottom: 5px solid var(--secondary);
    color: var(--primary);
}


.fixedHeader {
    padding-top: 10px;
    background-color: #fff; 
  }

.offCanvasTitle{
    color: var(--primary);
    font-size: 20px;
    font-weight: bold;
}

.textArea{
    border: 3px solid var(--secondary);
    width: 100%;
}

.labelTitle{

}