/* Header*/
.circleLogo {
    width: 50px;
}

.nameLogo {
    height: 25px;
    color: var(--primary);
}

.authContainer {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.authName {
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    color: var(--primary);
    text-decoration: underline;
    background-color: inherit;
}

.headerContainer {
    border-left: var(--secondary) double 10px;
}


/* Main */
.mainBody {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Viewport height */
}

.description {
    line-height: 2;
    padding-bottom: 10px;
    border-bottom: var(--secondary) solid 3px;

}

/* Dialog */
.myDialog {
    width: 90vw;
    /* Occupy the 90% of the screen width */
    max-width: 90vw;
}


.title {
    color: var(--primary);
    font-size: 70px;
    font-style: oblique;
    text-decoration: underline dashed var(--secondary);
}

/* Footer */

.footer {
    border-top: 5px double var(--theme);
}

.footerTitle {
    margin-top: 20px;
    color: var(--secondary);
    font-weight: bold;
    font-size: larger;
    padding-left: 10px;
    border-left: var(--primary) solid 2px;
    border-bottom: var(--primary) dashed 2px;
}

.footerTableTitle {
    font-weight: bold;
    color: var(--primary);
}

.footerTableContent {
    text-decoration: none;
    color: var(--dark);
}

.footerTableContent:hover {
    color: var(--secondary);
    text-decoration: underline;

}

.footerMap {
    display: flex;
    width: 50%;
    border: 2px solid var(--primary);
    padding: 10px;
    height: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px var(--secondary);
}

.footerIcon {
    font-size: 30px;
    color: var(--primary);
}

.footerIcon:hover,
.footerIcon:focus {
    color: var(--secondary);
    transform: translateY(-0.25em);
    padding-bottom: 5px;
    border-bottom: solid 2px var(--primary);
}

.footerText {
    display: flex;
    justify-content: center;
    color: #888;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 18px;
}

.modal-wrapper {
    width: 500px;
    height: 600px;
}

.modal {
    background: white;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 15px;
}

.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    padding-top: 10px;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}