@font-face {
    font-family: domine;
    src: url(domine-regular.ttf);
}

:root {
    --text: #333;
    --white: #fff;
    --primary: #ec865a;
    --secondary: #C3E2C2;
    --theme: #ECE3CE;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
}
